In [22]:
import pandas as pd

1. Read the files

In [23]:
titanic = pd.read_csv('titanic.csv')
survived = pd.read_csv('survived.csv')

2. Add column

In [24]:
titanic = titanic.merge(survived, on='Name')

3. Automatic cleaning

In [42]:
titanic[titanic.Embarked.isna()]

Empty DataFrame
Columns: [PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Survived]
Index: []

In [28]:
import numpy as np
titanic.replace({"Embarked": np.nan}, "S", inplace=True)

In [ ]:
titanic[titanic.Embarked.isna()]

In [ ]:
titanic[titanic.Age.isna()]

In [40]:
titanic.dropna(subset='Age', inplace=True)

In [ ]:
titanic[titanic.Age.isna()]

4. Combine columns

In [44]:
titanic['Family'] = titanic['SibSp'] + titanic['Parch']

In [47]:
titanic.drop(columns=['SibSp', 'Parch'], inplace=True)

5. Split column

In [49]:
titanic[['SurName', 'IdName']] = titanic['Name'].str.split(', ', n=1, expand=True)

In [51]:
titanic.drop(columns='Name', inplace=True)

6. Export the data to a JSON file

In [53]:
titanic.to_json('titanic.json', orient='records')