In [10]:
import pandas as pd

In [11]:
titanic = pd.read_csv('titanic.csv')
survived = pd.read_csv('survived.csv')

a) How many rows and columns of data are in the titanic.csv dataset?

In [12]:
print(f'In titanic.csv, there are {titanic.shape[0]} rows and {titanic.shape[1]} columns')

In titanic.csv, there are 891 rows and 11 columns

b) Which passengers are 65 years or older?

In [15]:
titanic[titanic.Age >= 65]['Name']

33                    Wheadon, Mr. Edward H
54           Ostby, Mr. Engelhart Cornelius
96                Goldschmidt, Mr. George B
116                    Connors, Mr. Patrick
280                        Duane, Mr. Frank
456               Millet, Mr. Francis Davis
493                 Artagaveytia, Mr. Ramon
630    Barkworth, Mr. Algernon Henry Wilson
672             Mitchell, Mr. Henry Michael
745            Crosby, Capt. Edward Gifford
851                     Svensson, Mr. Johan
Name: Name, dtype: object

c) How many passengers are assigned a cabin (not NaN)?

In [5]:
len(titanic[titanic.Cabin.notna() == True])

204

d) What are the passenger age means, grouped according to their ticket class (Pclass)?

In [6]:
titanic.groupby('Pclass').Age.mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

e) A certain Mr. Cardeza is rumoured to have paid for the most expensive Fare for this
journey. Can you suggest a way to confirm this rumour?

In [7]:
titanic[titanic['Name'].str.contains('Cardeza')]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
679,680,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C

In [8]:
max(titanic['Fare'])

512.3292

In [9]:
# Alternative solution with the result statement

result = titanic[titanic['Name'].str.contains('Cardeza')]['Fare'] == max(titanic['Fare'])

if  'True' in str(result):
    print('Mr. Cardeza payed the most expensive fare')
else:
    print('Mr. Cardeza did not pay the most expensive fare')

Mr. Cardeza payed the most expensive fare

f) Did Mr. Cardeza survive?

In [37]:
survived[survived['Name'].str.contains('Cardeza')]

                                   Name  Survived
778  Cardeza, Mr. Thomas Drake Martinez         1